/* -- Splash page -- */
div#splash_wrap {
	margin:20px auto;
	width:800px;
	text-align:center;
	}
	div#splash_wrap p {
		font-family:sans-serif;
		}
	div#splash_wrap p.copy {
		font-size:12px;
		color:#666;
		}
	div#splash_wrap p.note b {
		color:#f2448a;
		font-size:18px;
		font-family:sans-serif;
		}
	div#splash_wrap p.note a {
		color:#f2448a;
		font-weight:bold;
		}
	div#splash_wrap p.note a:hover {
		color:#3e49b6;
		font-weight:bold;
		}
	div#splash_wrap h1 {
		background:url(imgs/title.png) 0 0 no-repeat;
		width:659px; height:158px;
		margin:0 auto;
		}
	div#splash_wrap b.count {
		color:#aaa;
		font-size:20px;
		font-family:sans-serif;
		}
	div#splash_wrap div.video {
		margin:0 auto;
		border:2px solid #aaa;
		width:640px; height:480px;
		}
		div#splash_wrap div.video a#player {
			width:640px; height:480px;
			display:block;
			}
	div#splash_wrap div.enter a {
		margin:20px auto;
		display:block;
		width:321px; height:138px;
		background:url(imgs/enter_off.png) 0 0 no-repeat;
		}
	div#splash_wrap div.enter a:hover {
		background:url(imgs/enter_on.png) 0 0 no-repeat;
		}

