/* -- Global things -- */
img { border:0; }
* { margin:0; padding:0; font-family:Verdana, Arial, sans-serif; }

body { 
	background:url(imgs/ties_bg.png) #ffe9e9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}

/* -- Main -- */
div#wrap {
	margin:30px auto;
	width:875px;
	background-color:#fff;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	}

/* -- header -- */
div#wrap div#header {
	width:875px; height:255px;
	position:relative;
	background:url(imgs/header.png) 0 0 no-repeat;	
	}
	div#wrap div#header a.home {
		position:absolute;
		top:10px; left:160px;
		display:block;
		width:690px;
		height:100px;
		}
	div#wrap div#header ul.teams { 
		position:absolute;
		top:125px; left:235px;
		width:580px;
		max-height:95px;
		list-style:none;
		}
	div#wrap div#header ul.teams li {
		font-size:18px;
		}
	div#wrap div#header ul.teams li a {
			font-family:Verdana, sans-serif;
			float:left;
			display:block;
			position:relative;
			padding:0 2px;
			margin:0 5px 5px 5px;
			line-height:28px;
			font-weight:bold;
			text-decoration:none;
			color:#666;
			text-shadow:#ffe9e9 1px 1px 0px;
			}
		div#wrap div#header ul.teams li a:hover {
			color:#999;
			}

/* -- Menu -- */
div#wrap div#menu {
	text-align:center;
	height:40px;
	margin:5px auto 10px auto;
	display:table;
	height:40px;
 	}
	div#wrap div#menu ul {
		display:table-row;
		list-style:none;
		white-space:nowrap;
		padding:0; margin:0;
		}
		div#wrap div#menu ul li {
			display:inline;
			}
		div#wrap div#menu ul li a {
			display:block;
			padding:0 10px;
			margin:0 5px;
			float:left;
			line-height:40px;
			background-color:#ffd6d6;
			text-shadow:#bbb 1px 1px 0px; /* oh man CSS3 */
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			color:#f2448a;
			font-size:18px;
			text-decoration:none;
			}
		div#wrap div#menu ul li a:hover {
			background-color:#ffe2e2;
			}

/* -- Content -- */
div#wrap div#content {
	float:left;
	width:590px;
	}
	div#wrap div#content h1 {
		text-transform:uppercase;
		font-size:28px;
		font-weight:normal;
		color:#555;
		margin:0 0 20px 30px;
		padding:0 0 5px 0;
		border-bottom:1px dashed #777;
		text-shadow:#bbb 2px 1px 0px;
		}
	div#wrap div#content h1:first-letter {
		font-size:42px;
		}
	div#wrap div#content h2 {
		font-size:20px;
		color:#d23872;
		margin:15px 0 10px 30px;
		padding:0;
		font-weight:normal;
		}
	div#wrap div#content p {
		font-size:14px;
		line-height:20px;
		color:#444;
		margin:0 10px 15px 30px;
		}
		div#wrap div#content p a {
			text-decoration:none;
			color:#d23872;
			border-bottom:1px dashed #d23872;
			}
		div#wrap div#content p img {
			padding:2px;
			border:1px solid #ccc;
			}

/* -- Sidebar -- */
div#wrap div#sidebar {
	float:right;
	width:240px;
	margin:0 25px 0 0;
	}
	div#wrap div#sidebar p {
		margin:10px 0 5px 0;
		font-size:12px;
		line-height:18px;
		color:#999;
		}
	div#wrap div#sidebar h2 {
		color:#444;
		margin:20px 0 0 0;
		font-size:16px;
		font-weight:normal;
		}
		div#wrap div#sidebar h2.twitter {
			color:#34b2db;
			}

/* -- Footer -- */
div#wrap div#footer {
	border-top:1px dashed #ddd;
	padding:30px;
	margin:30px 0 0 0;
	background-color:#fff;
	clear:both;
	-webkit-border-bottom-left-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-bottomleft:15px;
	}
	div#wrap div#footer p {
		font-size:14px;
		color:#bbb;
		text-transform:uppercase;
		text-align:center;
		}
	div#wrap div#footer:hover p {
		color:#777;
		}
